/* Let's get this goin boiz */

body {
	padding-bottom: 1em;
}

textarea {
	border: 2px, solid, black;
}

#controls {
	margin-top: 1em;
}

#analyzeBtn, #infoAbtSelected {
	display: inline;
}



/* =============== Buttons =============== */
.btn {
	background-color: transparent;
	color: black;
	padding: 0.5em 0.8em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid black;
	border-radius: 12px;
}

.btn:hover {
	cursor: pointer;
	box-shadow: 1px 5px 1px black;
}

.btn:active {
	box-shadow: none;
	top: 5px;
	left: 1px;
}
/* =============== Buttons =============== */

/* =============== Scrollbar =============== */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* =============== ========= =============== */

/* =============== noselect =============== */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* =============== noselect =============== */
