/* Let's get this goin boiz */

body {
	color: #333333;
	margin: 0;
	padding-bottom: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

textarea {
	padding-top: 0.3em;
	padding-left: 0.5em;
}


#logo {
	max-height: 28px;
}

h1 {
	font-size: 32px;
}

.controls {
	margin-top: 2.2em;
}

#analyzeBtn, #infoAbtSelected {
	display: inline;
}

#viewAnalyticsContainer, #searchResultsContainer {
	display:none;
}

/* =============== Buttons =============== */
.btn {
	background-color: transparent;
	padding: 0.5em 0.8em;
	position: relative;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	border: 2px solid black;
	border-radius: 12px;
}

.btn:hover {
	cursor: pointer;
	box-shadow: 1px 3px 1px black;
}

.btn:active {
	box-shadow: none;
	top: 3px;
	left: 1px;
}
/* =============== Buttons =============== */

/* =============== Scrollbar =============== */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* =============== ========= =============== */

/* =============== noselect =============== */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* =============== noselect =============== */
