/* Let's get this goin boiz */

.btn {
	background-color: red;
	box-shadow: 0 5px 0 darkred;
	color: white;
	padding: 0.5em 0.8em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 12px;
}

.btn:hover {
	background-color: #ce0606;
	cursor: pointer;
}

.btn:active {
	box-shadow: none;
	top: 5px;
}

#controls {
	margin-top: 5px;
}

#analyzeBtn, #infoAbtSelected {
	display: inline;
}


